

.updateTaskWrapper{
    padding-top: 80px;
    text-align: left;
    padding-bottom: 20px;
}

.updateTaskWrapper label{
    color: rgb(220 53 69);
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.updateTaskWrapper .input-group{
    flex-direction: column;
}

.updateTaskWrapper .form-control{
    width: 100%;
    border-color: #f0f0f0;
    background: #eeeeee;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    font-size: 14px;
}

.updateTaskWrapper button.btn-primary{
    background: #4c3575;
    border: none;
    padding: 5px 15px;
}

.form-control:focus{
    box-shadow: 0 0 0 0;
    border-color: #4c3575;
    background: #fff;
    box-shadow: 0 0 10px rgba(33, 37, 41, 0.15);
}

.updateTaskWrapper .innerWrap{
    max-width: 650px;
    margin: auto;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 10px;
}

.updateTaskWrapper h2{
    text-align: center;
}